asgiref==3.8.1 ; python_version >= "3.10"
attrs==25.3.0 ; python_version >= "3.10"
boto3==1.39.14 ; python_version >= "3.10"
botocore==1.39.14 ; python_version >= "3.10"
dj-database-url==3.0.1 ; python_version >= "3.10"
django-cors-headers==4.7.0 ; python_version >= "3.10"
django-storages==1.14.6 ; python_version >= "3.10"
django==5.2.3 ; python_version >= "3.10"
djangorestframework-camel-case==1.4.2 ; python_version >= "3.10"
djangorestframework-simplejwt==5.5.0 ; python_version >= "3.10"
djangorestframework==3.16.0 ; python_version >= "3.10"
drf-spectacular==0.28.0 ; python_version >= "3.10"
gunicorn==23.0.0 ; python_version >= "3.10"
inflection==0.5.1 ; python_version >= "3.10"
jmespath==1.0.1 ; python_version >= "3.10"
jsonschema-specifications==2025.4.1 ; python_version >= "3.10"
jsonschema==4.24.0 ; python_version >= "3.10"
packaging==25.0 ; python_version >= "3.10"
pillow==11.3.0 ; python_version >= "3.10"
psycopg2-binary==2.9.10 ; python_version >= "3.10"
pyjwt==2.9.0 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
python-decouple==3.8 ; python_version >= "3.10"
pyyaml==6.0.2 ; python_version >= "3.10"
referencing==0.36.2 ; python_version >= "3.10"
rpds-py==0.25.1 ; python_version >= "3.10"
s3transfer==0.13.1 ; python_version >= "3.10"
six==1.17.0 ; python_version >= "3.10"
sqlparse==0.5.3 ; python_version >= "3.10"
typing-extensions==4.14.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.10"
urllib3==2.5.0 ; python_version >= "3.10"
whitenoise==6.9.0 ; python_version >= "3.10"
